<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= pageTitle %></title>
    </head>
    <body>
        <header>
            <%- include('./partials/header.ejs') %>
        </header>
        <a href="/">back</a>
        <% if(images.length > 0) { %>
            <% images.forEach((images)=> { %>
                <div>
                    <p><a href="/image/<%= images._id %>"><%= images._id %></a></p>
                </div>
            <% }) %>
        <% } else { %>
            <p>No images.</p>
        <% } %>
    </body>
</html>